* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* LAYOUT */

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas:
    "nav nav"
    "dashboard cards";
  grid-template-columns: 23em 1fr;
  grid-template-rows: 75px 1fr;
}

.dashboard {
  background-color: #587A8A;
  display: flex;
  flex-direction: column;
  grid-area: dashboard;
  padding: 0 1em;
}

.cards {
  background-color: #F3F6F7;
  display: grid;
  grid-area: cards;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 10px;
  padding: 2em;
}

/* NAV AREA */

nav {
  align-items: center;
  background-color: #1f1e3d;
  color: #fff;
  display: flex;
  grid-area: nav;
  justify-content: space-between;
  padding: 0 1em;
}

h1 {
  display: inline;
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
}

input {
  font-size: 1em;
  height: 3em;
  outline: 0;
  padding-left: .7em;
}

.search-input {
  display: inline;
  font-size: 1em;
  height: 100%;
  padding-left: .7em;
  width: 20em;
}

span {
  color: #ffc30c;
}

img {
  display: inline;
  height: 2.4em;
  padding: .2em .5em 0;
}

.search-box {
  align-items: stretch;
  display: flex;
  height: 3em;
}

.search-box button {
  flex: 0 0 4em;
}

button {
  background-color: #C8D3DA;
  border: 0;
  outline: 0;
}

.drop-down {
  height: 1.5em;
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  width: 23.75em;
  z-index: 1;
}

.show {
  display: block;
}

.dropdown-content p {
  color: black;
  font-size: 1em;
  height: 3em;
  line-height: 3em;
  text-align: center;
}

.dropdown {
  position: relative;
  cursor: default;
}

/* DASHBOARD AREA */

.dashboard-input {
  margin-top: .5em;
  width: 100%;
}

label {
  color: #C8D3DA;
  display: block;
  margin-top: 2em;
}

.dashboard-button {
  background-color: #1f1f3d;
  color: #ffffff;
  display: block;
  font-size: 1em;
  font-weight: 800;
  height: 3em;
  margin: 1em 0;
  width: 100%;
}

.make-task-clear-btns {
  margin: 1em 0;
}

.line {
  background-color: #46606D;
  box-sizing: content-box;
  height: .1em;
  margin: 0 0 0 -1em;
  padding-right: 2em;
  position: relative;
  width: 100%;
}

.urgency {
  margin-top: 2em;
}

.urgency.active {
  background-color: #EF4A23;
  border: 2px solid #782616;
  color: #FFFFFF;
}

.add {
  cursor: pointer;
  flex: 0 0 3em;
  display: inline;
  margin: 0;
  margin-top: .5em;
  padding-left: .6em;
  width: 3em;
}

button[disabled] {
  background-color: #A5A5B9;
  cursor: default;
}

.task-item-input {
  flex: 1 0 0;
  vertical-align: top;
}

.plus-1,
.plus-2 {
  background-color: #fff;
  height: 1px;
  width: 70%;
}

.plus-2 {
  transform: rotate(90deg)
}

.task-item {
  display: flex;
  flex-wrap: wrap;
}

.task-item label {
  flex: 0 0 100%;
}

/* CARDS AREA */

.card-task-item-text:hover,
.card-title:hover {
  cursor: pointer;
}

.card-task-item-text:focus,
.card-title:focus {
  cursor: text;
}

.card-task-item p {
  flex: 1 1 0;
}

.empty {
  align-items: center;
  display: flex;
  justify-content: center;
}

h3 {
  color: gray;
  font-weight: 400;
  font-size: 2em;
}

.card {
  background-color: #FAFDFF;
  border: 1px solid #C7D3D8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.urgent-card {
  background-color: #FFE89D;
  border: 1px solid #FFC416;
}

.urgent-card .card-urgent-icon p {
  color: #B23A23;
}

.urgent-card .card-delete-icon p {
  color: #1F1F3D;
}

h2 {
  border-bottom: 1px solid #C7D3D8;
  padding: .5em;
}

.urgent-card h2 {
  border-bottom: 1px solid #FFC416;
}

ul {
  flex: 1 0 auto;
  list-style-type: none;
  padding: .5em 0;
}

li {
  display: flex;
  padding: .7em;
}

.checked {
  color: #3c6577;
  font-style: italic;
}

.icon-row {
  border-top: 1px solid #C7D3D8;
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

.urgent-card .icon-row {
  border-top: 1px solid #FFC416;
}

.icon-row img {
  height: 1.6em;
}

.icon-row p {
  color: #3C6577;
  cursor: default;
  font-size: .8em;
  margin-top: .3em;
  text-transform: uppercase;

}

.icon-row div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li img {
  cursor: default;
  height: 1.3em;
}

.dashboard li {
  color: #fff;
}

.new-task-input {
  height: 2em;
  margin: 0 .7em;
  width: 93%;
}

/* SMALL-WIDTH SCREENS */

@media screen and (max-width: 680px) {

  body {
    display: flex;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 1em;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .search-box {
    margin-bottom: 1em;
  }

  h1 {
    margin-bottom: .8em;
  }

  .search-input {
    width: 100%;
  }

  .search-box {
    width: 100%;
  }

  .new-task-input {
    margin-bottom: 1em;
  }

}
