* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "nav nav"
    "dashboard cards";
  grid-template-columns: 30% 70%;
  grid-template-rows: 75px 1fr;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.dashboard {
  background-color: red;
  grid-area: dashboard;
}

.cards {
  background-color: green;
  grid-area: cards;
}

nav {
  background-color: #1f1e3d;
  grid-area: nav;
  color: #fff;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  display: inline;
  text-transform: uppercase;
  font-weight: 800;
}

input {
  height: 100%;
  width: 20em;
  display: inline;
  font-size: 1em;
  padding-left: .7em;
  outline: 0;
}

span {
  color: #ffc30c;
}

img {
  height: 2.4em;
  display: inline;
  padding: .2em .5em 0;
}

.search-box {
  background-color: #C8D3DA;
  height: 3em;
  display: flex;
  align-items: center;
}

button {
  border: 0;
  background-color: #C8D3DA;
  outline: 0;
}
